body {
    background-image: url("imgs/bg.jpeg");
    background-repeat: repeat-y;
}

h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 175%;
    margin-left: 20px;
}

h2 {
    font-family: "Courier New", Courier, monospace;
    font-size: 125%;
    margin-left: 20px;
}

p {
    font-family: "Courier New", Courier, monospace;
    /*font-weight: bold;*/
    margin-left: 20px;
}

div {
    text-align: center;
	  font-style: italic;
}

a:link {
    color:  darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
  color:  darkblue;
  text-decoration: none;
}

ul {
	margin: -10px 0;
}

ul.sub {
  margin: 1px -25px;
	list-style-type: circle;
}

li {
    line-height: 125%;
    font-family: "Courier New", Courier, monospace;
}

hr {
	border 0;
	height: 2px;
	color:   #0099FF
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    width: 600px;
}
th, td {
  padding: 5px;
}

.img_right {
    float: right;
    margin: 10px 10px 10px 10px;
}

.floating_txt {
    display: inline-block;
    width: 150px;
    height: 15px;
}
